/* CSS to style the base structure of the website */


/* Initial Styling */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*___________________________________________________________*/


/* Header Content */

header{
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    z-index: 900;
}

.headerbar{
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: rgba(22, 22, 113, 0.65);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
}

.menu-icons{
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top: 3.8rem;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

.logo {
  margin-right: 60px
}

.logo img {
  width: 70px;
  height: 70px;
  margin-top: 5px;
}

.nav-list{
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-list li{
    line-height: 8rem;
    position: relative;
}

.sub-menu li{
    line-height: 4rem;
    text-align: center;
}

.nav-list a{
    display: block;
    color: #eee;
    padding: 0 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #191919;
    font-weight: bold;
    font-size: 1.54rem;
    transition: 325ms;
}

.nav-list a:hover{
    color: #ffc90e;
}

.nav-list li:hover > .sub-menu{
    top: 8rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu{
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 6px solid #ffc90e;
    background-color: rgba(22, 22, 113, 0.8);
    border-radius: 1.2rem;
    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 325ms ease;
}

.sub-menu::before{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #ffc90e;
}

.sub-menu .sub-menu::before{
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: #161671;
}

.sub-menu .sub-menu{
    border-top: none;
    border-left: 3px solid #161671;
    top: 0;
    left: 160%;
}

.sub-menu li:hover > .sub-menu{
    top: 0;
    left: 100%;
}

li.move-right{
    margin: auto 0 auto auto;
    line-height: initial;
}

.btn{
    padding: 1.3rem;
    display: inline-block;
    background-color: rgb(255, 173, 20);
    border: 2px solid #ffc90e;
    border-radius: 1.5rem;
    transition: background-color 325ms;
}

.btn:hover{
    color: #ffc90e;
    background-color: rgba(22, 22, 113, 0.5);
}

/*___________________________________________________________*/


/* Body Content */

body {
    overflow-x: hidden;
    background: rgb(63, 63, 63);
    background-image: url("../assets/backdrops/tile.svg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content {
  position: static;
  display: block;
  margin-top: 2rem;
}

/*___________________________________________________________*/


/*  Footer Bar Content */

footer {
  position: relative;
  bottom: 0%;
  width: 100%;
}

.footerbar {
    margin-top: 5rem;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(22, 22, 113, 0.8);
    color: white;
    text-align: center;
    border-radius: 2rem;
}

#monologo,
#copyright {
    position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    padding: 0.5rem;
}

#monologo img {
  width: 50px;
  height: 50px;
  margin-top: 4px
}

#social {
  background-color: rgb(255, 173, 20);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  min-width: 30rem;
  align-items: center;
  padding: 3px;
}

#social a {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 13px;
  padding-top: 30px;
}

#social img {
  width: 35px;
  height: 35px;
}

#copyright {
  font-weight: bold;
}

.link-norm:link {
    color: #ffc90e;
}
.link-norm:visited {
    color: #ffc90e;
}
.link-norm:hover {
    color: #ffff;
}
.link-norm:active {
    color: #161671;
}

.link-inv:link {
    color: #161671;
}
.link-inv:visited {
    color: #161671;
}
.link-inv:hover {
    color: #ffff;
}
.link-inv:active {
    color: #ffc90e;
}

/*___________________________________________________________*/


@media screen and (max-width: 1000px){  /* "Changes rules for Adaptive Headerbar" */
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(22, 22, 113, 0.8);
        z-index: 1000;
        overflow-x: scroll;
        transition: all 1000ms;
    }

    .nav-list > li{
        line-height: 6rem;
        margin: 5% 0 0 0;
    }

    .sub-menu{
        position: initial;
        border: 3px solid transparent;
        background-color: rgba(255, 201, 14, 0.8);
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before{
        display: none;
    }

    .nav-list li:hover > .sub-menu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right{
        margin: 13% 0 0 0;
        line-height: initial;

    }

    .hdr-txt{
        text-align: center;
    }

    .menu-icons{
        display: block;
    }

    .ion-md-close{
        display: none;
    }

    nav.active .ion-md-close{
        display: block;
    }

    nav.active .ion-md-menu{
        display: none;
    }

    nav.active .nav-list{
        display: flex;
    }
}