#splash {
  display: block;
  z-index: 500;
  background-image: url("../../assets/elements/Logo-Slogan.svg"), url("../../assets/backdrops/robot-opaque.jpg");
  background-size: clamp(300px, 80%, 1100px) auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll;
  background-position: center, center;
  box-shadow: 0px 6px 8px rgba(22, 22, 113, 0.8);
  border-radius: 1.5rem;
  min-height: calc(15em + 15vw);
  margin: 2vw 2vw 0vw 2vw;
}



.divider {
  display: flex;
  color: #ffc90e;
  border-radius: 1.5rem;
  width: clamp(30rem, 80%, 120rem);
  margin: 5rem auto 5rem auto;
}

.holder {
  position: relative;
  /*background-color: rgba(22, 22, 113, 0.8);*/
  background-size: 50rem auto;
  margin: 0 auto;
  width: 95%;
  border-radius: 0 0 1.5rem 1.5rem;
}

.portion {
  padding: 5rem 2rem 5rem 2rem;
  margin: 3rem;
  text-align: center;
  background-color: rgba(22, 22, 113, 0.85);
  border-radius: 1.5rem;
}

#portion1 {
  margin-top: 0rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.split {
  display: inline-block;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.elem {
  display: inline;
  position: relative;
  text-align: center;
}

.elem > * {
  color: white;
  font-size: 2.5rem;

  padding: 0.2rem;
  background-color: rgb(255, 173, 20);
  border-radius: 1.5rem;
}

.txt * {
  padding: 0.6rem;
  text-shadow: 2.5px 2.5px 8px #191919;
}

.elem p {
  display: grid;
  align-items: center;
  max-width: 50rem;
}

.elem h1 {
  display: grid;
  align-items: center;
  font-size: 3rem;
  max-width: 50rem;
}

.elem img {
  display: inline-block;
  width: 75rem;
  vertical-align: middle;
  border-radius: 1.5rem;
  transition: 1s;
}

.elem a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 173, 20, 1);
  text-shadow: 2.5px 2.5px 8px #191919;
  border: 4px solid rgb(255, 194, 81);
  padding: 1rem;
}

.elem:hover img {
  opacity: 0.8;
  filter: blur(2px);
}

.elem:hover a {
  opacity: 0.9;
  padding: 1.2rem;
}

.elem a:hover {
  opacity: 1;
  border: 10px solid rgb(255, 194, 81);
  background-color: rgba(22, 22, 113, 0.8);
  color: #ffc90e;
}

@media screen and (max-width: 1775px) {

  .position {
    display: flex;
    flex-direction: column;
  }
  
  .elem:hover a {
    opacity: 0.9;
    padding: 1.2rem;
  }

  .elem:hover img {
    filter: blur(0px);
    opacity: 1;
  }

  .elem a {
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: inherit;
  }
}



